/* background colors */
.fondo-azul {
  background-color: #1e5a7d !important;
  /* width: 100%; */
}

.fondo-carta-amarilla {
  background-color: #eed940;
  width: 100%;
}

.fondo-carta-roja {
  background-color: #de6045;
  width: 100%;
}

.fondo-carta-verde {
  background-color: #4f9767;
  width: 100%;
}

.fondo-azul-claro, .fondo-carta-azul {
  background-color: #95d3e7;
  width: 100%;
}

.fondo-carta-beige {
  background-color: #f9f1d3;
  width: 100%;
}

.fondo-gris {
  background-color: #c8c8c8;
  width: 100%;
}

.fondo-gris-claro {
  background-color: #f0f0f0;
  width: 100%;
}

.fondo-ocre {
  background-color: #b69866;
  width: 100%;
}

.fondo-rojo-claro {
  background-color: #e27551;
  /* width: 100%; */
}

.fondo-rojo-oscuro {
  background-color: #d94f2e;
  /* width: 100%; */
}

.fondo-verde-claro {
  background-color: #7aaa83;
}

.fondo-verde-oscuro {
  background-color: #4f9867;
}

.fondo-blanco {
  background-color: #ffffff;
  width: 100%;
}

/* end background colors */

body {
  background-color: #c8c8c8;
}

*, h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Raleway', sans-serif;
  /* color: #003366; */
}

.miralas-todas {
  font-size: 4.2em;
  font-weight: 500;
}

.miralas-todas-peq {
  font-size: 1.7em;
  font-weight: 500;
  padding-right: 30px;
}

.miralas-todas-gde {
  padding-left: 30px;
}

.miralas-todas-img {
  width: 60%;
}

.miralas-todas-texto {
  padding-top: 2em;
  font-size: 1.4em;
}

.home-azar-1 {
  font-size: 2em;
  font-weight: 700;
  width: 55%;
  margin-left: 20%;
}

.home-azar-2 {
  font-size: 4em;
  font-weight: 900;
  width: 55%;
  margin-left: 20%;
}

.home-azar-img {
  max-width: 30rem;
}

.titulo-seccion-estatica {
  font-size: 3em;
  font-weight: bolder;
}

.cuerpo-seccion-estatica {
  font-size: 1.3em;
}

.cuerpo-seccion-estatica-2 {
  font-size: 1.8em;
  padding-top:2em;
}

.logo-creditos {
  padding: 30px 30px 30px 0px;
}

.creditos-dd {
  padding: 100px;
}

.software-caja-azul {
  background-color: #1e5a7d;
  color: #FFF;
  padding: 20px;
  font-size: 1.3em;
  font-weight:bold;
  /* height:100%; */
}

.software-tarjeta {
  border-style: solid;
  border-color: #FFF;
  padding: 15px;
  margin: 15px 0px 15px 0px;
}

.software-titulo {
  font-size:2.3em;
  font-weight: bold;
}

.software-desarrollo {
  font-size: 1.2em;
}

.software-item {
  padding-top: 1em;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
}

.software-enlace {
  font-size: 1.2em;
}

.top-bar a {
  color: #FFFFFF;
}

.detalle-categoria {
  background-repeat: no-repeat !important;
  background-position: right !important;
  background-size: contain !important;
  height: 32em;
}

#preguntas_utiliza {
  background-color: #ddd;
}

#titulo-tarjetas-utiliza {
  font-size: 2em;
  font-weight: bold;
}

#footer-tarjetas-utiliza {
  font-size: 1.5em;
  font-weight: bold;
}

.carta {
  background-color: white;
  padding: 10px;
  margin: 5px;
}

.carta-roja {
  border-style: solid;
  border-color: #de6045;
}

.carta-amarilla {
  border-style: solid;
  border-color: #eed940;
}

.carta-verde {
  border-style: solid;
  border-color: #68a77e;
}

.carta-azul {
  border-style: solid;
  border-color: #94d3e7;
}

.carta-utiliza {
  padding: 10px;
  margin: 5px;
}

.carta-utiliza-roja {
  border-style: solid;
  background-color: #e27551;
  border-color: #fff;
  border-radius: 10px;
  position: relative;
}

.carta-utiliza-amarilla {
  border-style: solid;
  background-color: #eed940;
  border-color: #fff;
  border-radius: 10px;
  position: relative;
}

.carta-utiliza-verde {
  border-style: solid;
  background-color: #7aaa83;
  border-color: #fff;
  border-radius: 10px;
  position: relative;
}

.carta-utiliza-azul {
  border-style: solid;
  background-color: #addded;
  border-color: #fff;
  border-radius: 10px;
  position: relative;
}

.carta-utiliza-beige {
  border-style: solid;
  background-color: #f9f1d3;
  border-color: #fff;
  border-radius: 10px;
  position: relative;
}

.carta-roja .titulo-carta, .carta-roja .titulo-carta-relacionada {
  color: #de6045;
}

.carta-amarilla .titulo-carta, .carta-amarilla .titulo-carta-relacionada {
  color: #eed940;
}

.carta-verde .titulo-carta, .carta-verde .titulo-carta-relacionada {
  color: #68a77e;
}

.carta-azul .titulo-carta, .carta-azul .titulo-carta-relacionada {
  color: #94d3e7;
}

.carta-beige .titulo-carta, .carta-beige .titulo-carta-relacionada {
  color: #94d3e7;
}

.titulo-carta-relacionada {
  font-size: 1.2em;
}

.card-2 {
  margin: 5px;
  max-width: 180px;
  position: relative;
  border: none !important;
}

.numero-carta {
  font-size: 2em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0px;
}

.icono-favorito, .icono_ver, .icono_cerrar {
  font-size: 2em;
  color: #1e5a7d;
  float: right;
  padding-left: 6px;
}

.icono_cerrar {
  padding-left: 30px;
}

.titulo-carta {
  color: #1e5a7d;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
}

.descripcion-carta {
  font-size: 1em;
  margin-top: 10px;
  height: 220px;
  overflow: hidden;
}

.categoria {
  padding: 5px;
  cursor: pointer;
}

.utiliza-imagen-tarjeta {
  /* width: 30px; */
}

.imagen-categoria {
  height: 20em;
}

.texto-categoria {
  font-size: 1.6em;
  padding: 0px 20% 0px 20%;
  font-weight: bold;
}

.texto-grande-home {
  font-weight: bolder;

}

.formato-menu, .top-bar ul {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
}

.dropdown.menu > li > a {
    padding: 0.7rem 2.6rem 0.7rem 1rem;
}

/* Colores de texto para secciones */

.texto-blanco {
  color: #ffffff;
}

.link-texto-blanco {
  color: #ffffff;
  text-decoration: underline;
}

.link-texto-blanco:hover {
  color: #ffffff;
}

.texto-azul {
  color: #1e5a7d;
}

/* Clases auxiliares de padding margin */

.padding-vertical-1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-vertical-2 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.padding-vertical {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.padding-horizontal-1 {
  padding-left: 2rem !important;
  padding-right: 2rem !important ;
}

.top-bar{
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px  solid;
}

.top-bar-right{
  margin-top: auto;
}

.logo {
  padding-top: 20px;
  max-width: 220px;
  height: auto;
}

.fullwidth-no-margin {
   width: 100%;
   margin: 0px !important;
   padding: 0px !important;
   max-width: initial;
}

.badge-blanco {
    display: inline-block;
    min-width: 2.1rem;
    font-size: 1em;
    text-align: center;
    background: #ffffff;
    color: #1e5a7d;
}

.footer-logo {
  margin-top: 5px;
}

.footer-desarrollado-por {
  margin-left: 20px;
}

.footer-menu {
  list-style: none;
}

.footer a {
  color: #1e5a7d;
}

#carta_modal .titulo-carta, #tarjeta_principal_azar .titulo-carta {
  font-size: 2.5em;
}

.descripcion-carta-modal, .descripcion-carta-azar {
  font-size: 1.4em;
  padding-top: 15px;
}

.reveal {
  border-width: 5px;
}

.tarjetas_relacionadas_modal, .tarjetas_relacionadas_azar {
  padding-top: 15px;
}

.banner_coleccion_vacia {
  font-size: 2em;
}

.button.microsd-button-azul {
  background-color: #1e5a7d;
}

.button.microsd-button-rojo {
  background-color: #d94f2e;
}

.numero-carta-coleccion {
  font-size: 5em;
  font-weight: bolder;
  /* text-shadow: -1px 0 #1e5a7d, 0 1px #1e5a7d, 1px 0 #1e5a7d, 0 -1px #1e5a7d;
  color: white; */
}

.titulo-carta-coleccion {
  color: #1e5a7d;
  font-weight: 600;
  font-size: 2.2em;
  line-height: 1.3;
  text-transform: uppercase;
}

.descripcion-carta-coleccion {
  font-size: 1.1em;
  margin-top: 10px;
}

.img-coleccion {
  max-height: 803px;
}

.coleccion-descripcion {
  padding: 50px;
}

.cartas-relacionadas-coleccion {
  border: solid;
  padding: 10px;
  margin-top: 2em;
}

.titulo-relacionadas-coleccion {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.1rem;
}

.numeros-relacionadas-coleccion {
  font-size: 1.3em;
}
