/* FONTS */

/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap'); */

/* GENERALS */

body {
	background-color: #fff;
}
.bg-blue-gradient {
	background: #1e5a7d;
	background: -moz-linear-gradient(top,  #1e5a7d 0%, #2287c2 100%);
	background: -webkit-linear-gradient(top,  #1e5a7d 0%,#2287c2 100%);
	background: linear-gradient(to bottom,  #1e5a7d 0%,#2287c2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5a7d', endColorstr='#2287c2',GradientType=0 );

}
.l-h-normal {
	line-height: normal;
}
.flex-vertical-center {
	align-items: center;
}
.flex-horizontal-center {
	justify-content: center;
}
.pt-2 {
	padding-top: 2rem;
}
.pt-3 {
	padding-top: 3rem;
}
.pt-6 {
	padding-top: 6rem;
}
.pt-10 {
	padding-top: 10rem;
}
.pb-2 {
	padding-bottom: 2rem;
}
.pb-3 {
	padding-bottom: 3rem;
}
.pb-6 {
	padding-bottom: 6rem;
}
.pb-10 {
	padding-bottom: 10rem;
}
.m-l-0 {
	margin-left: 0;
}
.m-r-0 {
	margin-right: 0;
}
.hidden {
	display: none!important;
}
.font-heading {
	font-family: 'Roboto';
}
.f-900 {
	font-weight: 900;
}
.home-azar-2 {
	width: 70%;
}
.detalle-categoria {
	background-size: inherit!important;
}
#footer-tarjetas-utiliza {
	width: 90%;
	margin: 0 auto;
	font-size: 1.4em;
	font-weight: normal;
}

/* FADE IN */

.fadein-2 {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
.fadein-3 {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
.fadein-5 {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* CUSTOM GRID 1/4 */

.grid-margin-x > .small-3 {
	width: 24%;
	margin: 0 1.3333% 1rem 0;
}
.grid-margin-x > .small-3:nth-child(4n) {
	margin-right: 0;
}

/* HEADER */

.top-bar {
	border-bottom-color: rgba(255,255,255,0.07);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* overflow: scroll; */
}
.responsive-menu {
	margin-right: 10px;
	display: inline-block;
}
.logo {
	padding-top: 0;
}
.dropdown.menu > li > a {
	padding: 0.7rem 1.6rem;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
}
.dropdown.menu > li > a:hover {
	opacity: .6;
}
#badge_coleccion {
	min-width: inherit;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 50px;
	font-family: sans-serif;
}

/* HOME */

#hero {
	background-image: url("../img/01-banner-home.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#hero h2 {
	font-size: 2.7rem;
}
#categorias {
	padding: 2rem;
}
#categorias .small-12 {
	margin: 0;
	padding: 2rem;
}
#categorias .small-12:nth-child(odd) {
	border-right: 1px solid rgba(255,255,255,0.2);
}
#categorias .small-12:nth-child(1),
#categorias .small-12:nth-child(2) {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
#categorias .imagen-categoria {
	width: 25rem;
	height: auto;
}
#categorias .texto-categoria {
	font-weight: normal;
}
.categoria a img {
	transition: transform .2s;
}
.categoria a:hover img {
	transform: scale(1.1);
}
.random-card-link {
	width: 300px;
	height: 450px;
	display: block;
	position: relative;
}
.random-card-link .random-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.3s;
}
.random-card-link .rm-1 {
	z-index: 3;
}
.random-card-link .rm-2 {
	z-index: 2;
	left: 80px;
}
.random-card-link .rm-3 {
	z-index: 1;
	left: 160px;
}
.random-card-link:hover .rm-1 {
	transform: translate(-40px, 40px);
}
.random-card-link:hover .rm-2 {
	transform: translate(10px, -10px);
}
.random-card-link:hover .rm-3 {
	transform: translate(60px, -60px);
}
.miralas-todas {
	transition: transform .2s;
}
.miralas-todas:hover {
	transform: scale(1.3);
}
.miralas-todas a:hover {
	color: #fff;
}

/* GRID CARD */

.miralas-todas-texto {
	padding: 0;
	margin: 0;
}
#detalle_categoria {
	padding: 2rem!important;
}
.carta-utiliza-amarilla,
.carta-utiliza-roja,
.carta-utiliza-verde,
.carta-utiliza-azul,
.carta-utiliza-beige {
	background: transparent;
	border-radius: 0;
}
.scene-flip {
	height: 421px;
	padding: 0;
	border: 0;
	perspective: 2000px;
}
.card-flip {
  	width: 100%;
  	height: 100%;
  	position: relative;
  	transition: transform 1s;
  	transform-style: preserve-3d;
}
.card__face {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
  	margin: 0;
  	backface-visibility: hidden;
  	cursor: pointer;
  	border-radius: 15px;
  	transition: all 0.15s ease-in-out;
  	-webkit-transition: all 0.15s ease-in-out;
  	-moz-transition: all 0.15s ease-in-out;
}
.card__face:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.carta-utiliza-amarilla .card__face {
	background-color: #eed940;
}
.carta-utiliza-roja .card__face {
	background-color: #e27551;
}
.carta-utiliza-verde .card__face {
	background-color: #7aaa83;
}
.carta-utiliza-azul .card__face {
	background-color: #addded;
}
.carta-utiliza-beige .card__face {
	background-color: #f9f1d3;
}
.card__face--back {
  	transform: rotateY( 180deg );
}
.card-flip.is-flipped {
  	transform: rotateY(180deg);
}
.header-card {
	width: 100%;
	padding: 1.4em 1em 0 1em;
}
.header-card .small-3 {
	text-align: right;
}
.header-card .numero-carta {
	margin-right: 10px;
	font-size: 1.7em;
	font-family: sans-serif;
	color: #fff;
}
.header-card .icono-favorito {
	float: none;
	padding-left: 0;
	line-height: normal;
}
.header-card .titulo-carta {
	margin-bottom: 0;
	font-size: 1.3em;
	line-height: 1.2;
}
.header-card .favorite {
	font-size: 1.7em;
	color: #fff;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
}
.header-card .favorite-selected,
.header-card .favorite:hover {
	color: #1e5a7d;
}
.card-button {
	border-radius: 30px;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #1e5a7d;
}

/* MODAL */

.reveal-amarilla {
	background: rgba(238,217,64,0.8);
}
.reveal-roja {
	background: rgba(222,96,69,0.8);
}
.reveal-verde {
	background: rgba(105,167,126,0.8);
}
.reveal-azul {
	background: rgba(148,211,231,0.8);
}
.reveal {
	margin-bottom: 40px!important;
	border: 0;
	border-radius: 19px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	position: relative;
}
#carta_modal .titulo-carta,
#tarjeta_principal_azar .titulo-carta {
	width: 100%;
	display: block;
	font-size: 2em;
}
.reveal .icono_cerrar {
	background-color: #1e5a7d;
	position: absolute;
    right: 4px;
    top: 4px;
    height: 32px;
    width: 32px;
    padding: 0;
    line-height: 1.4em;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}
.reveal .icono-favorito {
	float: none;
	cursor: pointer;
}
.reveal .favorite {
	color: #ddd;
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
}
.reveal.carta-amarilla .favorite-selected,
.reveal.carta-amarilla .favorite:hover {
	color: #eed940;
}
.reveal.carta-roja .favorite-selected,
.reveal.carta-roja .favorite:hover {
	color: #de6045;
}
.reveal.carta-verde .favorite-selected,
.reveal.carta-verde .favorite:hover {
	color: #68a77e;
}
.reveal.carta-azul .favorite-selected,
.reveal.carta-azul .favorite:hover {
	color: #94d3e7;
}
.descripcion-carta-modal,
.descripcion-carta-azar {
	font-size: 1.2em;
}

/* MODAL – Tarjetas Relacionadas */

.titulo-carta-relacionada {
	line-height: normal;
}
.carta-roja .titulo-carta,
.carta-roja .titulo-carta-relacionada {
	color: #de6045;
}
#relaciones_carta_modal img {
	transition: transform .2s;
}
#relaciones_carta_modal img:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* OTRAS INICIATIVAS */

.otras-iniciativas #categorias {
	padding: 0;
}

/* COLECCIÓN */

.action-bar {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-align: right;
}
.action-bar a {
	border-radius: 50px;
	color: #fff!important;
}
.action-bar a:first-child {
	margin-right: 10px;
}

/* AZAR */

#tarjeta_principal_azar.carta {
	margin: 2em 0;
	padding: 2em 1em;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border: 0;
}
.tarjetas_relacionadas_azar h4 {
	text-align: center;
	font-weight: bold;
}
#relaciones_carta_azar .card-section {
	padding: 0;
	padding-top: 1rem;
}
#relaciones_carta_azar .card-section .titulo-carta {
	font-size: 1.2em;
	font-weight: normal;
}
#imagen_carta_azar a img,
#relaciones_carta_azar img {
	transition: transform .2s;
}
#imagen_carta_azar a:hover img,
#relaciones_carta_azar img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
#contenido_carta_azar {
	position: relative;
}
#contenido_carta_azar .titulo-carta {
	padding-right: 35px;
}
#contenido_carta_azar i.icono-favorito {
	position: absolute;
	right: 10px;
	top: 0;
	color: #ddd;
}
#contenido_carta_azar i.icono-favorito:hover,
#contenido_carta_azar i.icono-favorito.favorite-selected {
	color: #1e5a7d;
	cursor: pointer;
}
.cuerpo-seccion-estatica,
.software-enlace,
.software-desarrollo {
	overflow-wrap: break-word;
}
.footer {
	border-top: 1px solid rgba(0,0,0,0.1);
}


@media print, screen and (min-width: 40em) {

	.reveal.large {
	    width: 75%;
	    max-width: 55rem;
	    padding-top: 1.8em;
	}

}
@media screen and (min-width: 1280px) {

	.grid-card .grid-margin-x > .small-3 {
		width: 21%;
	}
	.grid-card .grid-margin-x > .small-3:nth-child(4n) {
		margin-right: 0;
	}

}
@media screen and (max-width: 1280px) {

	.random-card-link {
		width: 65%;
	}
	.scene-flip {
		height: 383px;
	}
	.descripcion-carta {
		height: 172px;
	}
	.header-card .favorite,
	.header-card .numero-carta {
		font-size: 1.5em;
	}

}
@media screen and (max-width: 1280px) {

	.scene-flip {
		height: 342px;
	}
	.header-card .titulo-carta {
		font-size: 1.1em;
		line-height: 1.1;
	}
	.descripcion-carta {
		height: 162px;
		font-size: .9em;
		line-height: 1.4;
	}
	.header-card .favorite,
	.header-card .numero-carta {
		font-size: 1.3em;
	}

}

@media screen and (max-width: 639px) {

	.grid-container.fluid,
	.top-bar {
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	#principal-menu {
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 66px;
		z-index: 9;
	}
	#principal-menu li {
		width: 100%;
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.07);
	}
	.logo {
		max-width: 160px;
	}
	#hero {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	#hero h2 {
		font-size: 2.2rem;
	}

	#categorias .small-12:nth-child(odd) {
		border-right: 0;
	}
	#categorias .small-12:nth-child(3) {
    	border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	#categorias .imagen-categoria {
		width: 20rem;
	}

	.miralas-todas-peq {
		margin-bottom: 20px;
		padding-right: 0;
		text-align: center;
	}

	.home-azar-1 {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.home-azar-2 {
		width: 100%;
		margin: 0 0 30px 0;
		text-align: center;
	}
	.random-grid {
		width: 100%!important;
		overflow-x: hidden!important;
		overflow-y: hidden;
	}
	.random-card-link {
		width: 360px;
		height: 350px;
		margin: 0 auto;
	}
	.random-card-link .random-image {
		width: 200px;
	}

	#categorias .small-12 {
		width: 100%;
	}
	.detalle-categoria {
		background-size: 250px!important;
		background-position-x: left!important;
		background-position-y: top!important;
		padding-top: 180px!important;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.detalle-categoria > .small-6 {
		width: 100%;
	}
	#preguntas_utiliza {
		margin-top: 20px;
	}
	#tarjetas-microsd > .small-3 {
		width: 48.6%;
	}
	#tarjetas-microsd > .scene-flip {
		height: 420px;
	}

	.reveal {
		width: 96%;
		left: 2%;
		top: 15px!important;
	}

	.card-2 {
		max-width: 50%;
		width: 50%;
		margin: 0;
	}
	.card-2 .card-section {
		width: 100%;
	}

	.miralas-todas-texto {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.comunidades {
		margin-top: 70px;
	}
	.otras-container {
		padding-bottom: 100px!important;
	}
	.img-animate {
		width: 40%;
		display: block;
		padding: 0!important;
	}
	.titulo-seccion-estatica {
		font-size: 2rem;
		line-height: 1.2;
	}
	.software-titulo {
		font-size: 1.8rem;
		line-height: 1.4;
	}
	.software-tarjeta {
		background: #fff;
	}
	.p-t-0 {
		padding-top: 0!important;
	}
	.p-b-2 {
		padding-bottom: 2em!important;
	}
	.miralas-todas-gde {
		padding-left: 0;
	}

}


@media screen and (max-width: 480px) {

	.padding-horizontal-1 {
		padding-left: 1rem!important;
		padding-right: 1rem!important;
	}
	#hero h2 {
		font-size: 2rem;
	}
	#categorias .small-12,
	.texto-categoria {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.miralas-todas-peq {
		font-size: 1.5rem;
	}
	.miralas-todas {
		font-size: 3.5em;
		line-height: 1.4;
	}
	.home-azar-2 {
		font-size: 3rem;
	}
	.random-card-link {
		width: 285px;
		height: 215px;
	}
	.random-card-link .random-image {
		width: 130px;
	}
	#tarjetas-microsd > .small-3 {
		width: 100%;
	}
	#carta_modal .small-3,
	#carta_modal .small-9,
	#tarjeta_principal_azar .small-3,
	#tarjeta_principal_azar .small-9 {
		width: 100%;
	}
	#carta_modal .small-3 img,
	#tarjeta_principal_azar .small-3 img {
		width: 60%;
	}
	#carta_modal #imagen_carta_modal {
		margin-bottom: 40px;
	}
	#carta_modal .titulo-carta {
		font-size: 1.7rem;
		line-height: 1.4;
	}
	.card-2 {
		width: 100%;
		max-width: 100%;
	}
	.card-2 img {
		width: 60%;
		display: block;
		margin: 0 auto;
	}
	.card-2 .card-section {
		width: 60%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.tarjetas_relacionadas_modal h4 {
		text-align: center;
	}
	#imagen_carta_azar {
		margin-bottom: 30px;
	}
	#contenido_carta_azar .titulo-carta {
		padding-right: 0;
		font-size: 1.6em;
		line-height: 1.2;
	}
	#contenido_carta_azar i.icono-favorito {
		width: 100%;
		display: block;
		position: static;
	}
	#detalle_categoria.p-l-r-1 {
		padding-right: 1rem!important;
		padding-left: 1rem!important;
	}
	.action-bar {
		text-align: center;
	}


}
